{% extends 'base.html' %}

{% block content %}


{% load static %}
<link 
    rel="stylesheet" 
    href="{% static 'css/style.css' %}"
>
<script 
    src="{% static 'js/script.js' %}"
>
</script>

<div class="sub-division">
    <h2 class="brand-white">Login</h2>
    <form action="/login" method="post">
        {% csrf_token %}
        {{ LoginForm }}
        <input disabled id="login" type="submit" value="Login">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}


    </form>
    <P class="brand-white">Don't have an account? <a href="/registration" class="bold">Register</a></P>
</div>
{% endblock %}